*                                       @rashidakanchwala @ravi-kumar-pilla

*.py                                    @rashidakanchwala @ravi-kumar-pilla
*.md                                    @rashidakanchwala @ravi-kumar-pilla @NeroOkwa

.gitignore                              @ravi-kumar-pilla
CODEOWNERS                              @rashidakanchwala @ravi-kumar-pilla @NeroOkwa
